:host {
  display: block;
}

::ng-deep {
  .ng-invalid.ng-dirty {
    .p-inputtext,
    .p-inputtextarea {
      border-color: #ef4444;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(239, 68, 68, 0.25);
      }
    }
  }
}
